. fadinha
{
    background-color:black;
}
h1 {
    background-color:rgb(194, 20 , 20);
    text-align: center;
}    

h2 {
    background-color: rgb(194, 20, 20);
}
p{
   font-size: 15px ;
}
.parágrafo1{
   font-size: 23px ;
}
. Coleção {
    exibição:block in line;
    margin:  0  16 px ;
}
img {
    width: 250px;
    }

.footer {
    background-color:rgb (194, 20, 20);
    fill:  15 px ;
    exibição:block in line;
}
