.fadinha
{
    background: black;
}
h1 {
    background:rgb(194, 20 , 20);
    text-align: center;
}    

h2 {
    background-color: rgb(194, 20, 20);
}
p{
   font-size: 15px ;
}
.parágrafo1{
   font-size: 23px ;
}
.Colecao {
    display: block in line;
    margin:  0-color  16 px ;
    background:rgb(194, 20, 20,);
}
img {
    width: 250px;
    }

.footer {
    background:rgb(194, 20, 20);
    fill:  15 px ;
    display:block in line;
}

.colecao-itens {
    background: rgb(194, 20, 20);
}
